@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply box-border;
  }

  *, *::before, *::after {
    @apply box-border;
  }

  body {
    @apply m-0 bg-custom-purple text-white font-ubuntu tracking-wide;
  }

  h1, h2, h3, p {
    @apply m-0; 
  }

  img {
    @apply block w-full h-auto object-cover
  }

  input {
    @apply bg-transparent border-b pb-2 mb-4 w-3/4 text-white
  }

  label {
    @apply text-xs opacity-60 font-thin tracking-widest
  }
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}